@import "tailwindcss";

@layer base {
  input {
    background-color: #d7d0d7;
    font-size: 36px;
    padding: 3px 5px;
  }

  button {
    background-color: #7dd3fc;
    padding: 5px 20px;
    font-size: 30px;
    cursor: pointer;
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 80rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}